digilent_arty.cache/
digilent_arty.hw/
digilent_arty.ip_user_files/
.Xil/
report/
vivado_*.backup.*
reports
usage_statistics_webtalk.xml
build/out.bit
usage_statistics_webtalk.html
build/
.vscode
old
clockInfo.txt
env/
amostras.tar.gz
hex/
x.txt
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
simulator
teste.c
teste
.vscode/settings.json
teste2.c
build/
env/
site/
.vscode
hex_to_wav